html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: $gray-200;
}

table {
	border: 2px solid $gray-500;
}

th, td {
	border: 1px solid $gray-400;
	text-align: center;
	vertical-align: top;
	background-color: $white;
}

.fa-li {
	color: $tld-blue;
	margin-top: 4px;
}

.tld-blue {
	color: $tld-blue;
}

.navbar {
	background-color: $nav-background;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	text-transform: lowercase;
	text-shadow: 1px 1px #000;
	// display: none;
}

@supports (backdrop-filter: saturate(250%) blur(20px)) or (-webkit-backdrop-filter: saturate(250%) blur(20px)) {
  .navbar {
    background-color: $nav-background-blur;
    -webkit-backdrop-filter: saturate(250%) blur(20px);
    backdrop-filter: saturate(250%) blur(20px);
  }
}

.navbar-brand {
	color: white !important;
	font-weight: bolder;
	font-size: 1.3rem;
}

.card {
	font-size: .8rem;
	margin-bottom: 1rem;
}

.card-header {
	color: $white;
	background-color: $tld-blue;
	font-size: 1rem;
	padding: .5rem 1rem;
}

.card-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.75em;
}

.card-body {
	padding: 1rem;
}

.card-body p:last-child {
	margin-bottom: 0;
}

.card .btn {
	font-size: 1em;
}

footer {
	color: $gray-300;
	background-color: $dark;
	width: 100%;
	margin-top: 3rem;
	padding: 2rem 0;
}

footer .contact {
	color: $gray-300;
}

footer .social {
	white-space: nowrap;
	margin-bottom: 2rem;
}

footer .social a {
	margin-right: 1rem;
}

footer #mc-embedded-subscribe {
	padding: .25rem 1rem;
}

.testimonial {
	font-family: 'Delius', cursive;
  margin: 1rem 0;
	text-align: center;
}

.testimonial blockquote {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	line-height: 2rem;
}

.testimonial blockquote::before {
	content: url("../images/tld/quote-start.png");
}

.testimonial blockquote::after {
	content: url("../images/tld/quote-end.png");
}

iframe {
	border: none;
}

@include media-breakpoint-up(md) {
	.lead {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
}

.jumbotron {
	color: $gray-300;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
	padding: 0;
	margin-bottom: 1rem;

	&::after {
		height: 1rem;
	  display: block;
	  position: relative;
	  background-image: $jumbotron-linear-gradient;
	  width: 100%;
	  content: '';
	}

	@include media-breakpoint-up(xs) {
		height: 50vw;

		&::after {
			top: unquote("calc(50vw - 1rem)");
		}
	}

	@include media-breakpoint-up(md) {
		height: 40vw;

		&::after {
			top: unquote("calc(40vw - 1rem)");
		}
	}

	@include media-breakpoint-up(xl) {
		height: 35vw;

		&::after {
			top: unquote("calc(35vw - 1rem)");
		}
	}
}

// -------
// Home
// --------
.jumbotron-home {
	background-image: url("../images/tld/header-home.jpg");
	background-position: 0% 30%;
}

// .jumbotron-home h1 {
//     position: relative;
//     left: 1289px;
//     top: 536px;
//     font-family: 'Source Sans Pro', sans-serif;
//     font-size: 257px;
//     font-weight: bold;
//     color: hsla(184, 100%, 37%, 1);
//     text-transform: lowercase;
//     text-shadow: rgba(0, 0, 0, 0.25) -7px 4px 5px, rgba(249, 255, 255, 0.4) 0 -4px 30px;
//     -webkit-transform: perspective(400px) rotateY(45deg) rotateZ(-3deg);
//     transform: perspective(521px) rotateY(-7deg) rotateZ(1deg);
// }

// ------
// Training
// ------
.jumbotron-training {
	background-image: url("../images/tld/header-training.jpg");
	background-position: 50% 20px;

	@include media-breakpoint-up(md) {
		background-position: 50% 30%;
	}
}
// .jumbotron-training h1 {
// 	position: relative;
// 	left: 100px;
// 	top: 500px;
// 	font-family: 'Source Sans Pro', sans-serif;
// 	font-size: 200px;
// 	font-weight: bold;
// 	color: $tld-blue;
// 	text-transform: lowercase;
// 	text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
//   transform: perspective(400px) rotateY(45deg) rotateZ(-3deg);
// }

// ------
// Daycare
// ------
.jumbotron-daycare {
	background-image: url("../images/tld/header-daycare-boarding.jpg");
	background-position: 50% 35px;
}

// .jumbotron-daycare h1 {
//     position: relative;
//     left: 1437px;
//     top: 134px;
//     font-family: 'Source Sans Pro', sans-serif;
//     font-size: 200px;
//     font-weight: bold;
//     color: #00a5b1;
//     text-transform: lowercase;
//     -webkit-transform: rotate3d(-10, 0, 0, -45deg);
//     transform: rotate3d(0, 0, 0, -45deg);
//     text-shadow: 0 1px 1px #999, 0 2px 0 #999, 0 3px 0 #888, 0 4px 0 #777, 0 5px 0 #666, 0 6px 0 #555, 0 7px 0 #444, 0 8px 0 #333, 0 9px 7px #302314;
//     transform: perspective(781px) rotateY(-15deg) rotateZ(15.5deg);
//     line-height: 1em;
// }

// ------
// Team
// ------
.jumbotron-team {
	background-image: url("../images/tld/header-team.jpg");
	background-position: 50% 10px;

	@include media-breakpoint-up(md) {
		background-position: 50% 25%;
	}
}

// .jumbotron-team h1 {
//     position: relative;
//     left: 1548px;
//     top: 300px;
//     font-family: 'Source Sans Pro', sans-serif;
//     font-size: 359px;
//     font-weight: bold;
//     color: #00a5b1;
//     text-transform: lowercase;
//     text-shadow: rgba(0, 0, 0, 0.2) 4px 2px 5px, rgba(255, 255, 255, 0) 0 0px 30px;
//     /* -webkit-transform: perspective(400px) rotateY(45deg) rotateZ(-3deg); */
//     /* transform: perspective(220px) rotateY(0deg) rotateZ(0deg); */
// }

.card.bio {
	margin-bottom: 1.25rem;
}

.card.bio h3 {
	margin-bottom: 0;
}

.card.bio img {
	float: left;
	margin-right: 1rem;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

// -------
// Contact
// -------
.jumbotron-contact {
	background-image: url("../images/tld/header-contact.jpg");
	background-position: 0% 0%;

	@include media-breakpoint-up(md) {
		background-position: 0% 30%;
	}
}

// .jumbotron-contact h1 {
//     position: relative;
//     left: -84px;
//     top: 140px;
//     font-family: 'Source Sans Pro', sans-serif;
//     font-size: 460px;
//     font-weight: bold;
//     color: #00a5b1;
//     text-transform: lowercase;
//     text-shadow: rgba(0, 0, 0, 0.2) 4px 2px 5px, rgba(255, 255, 255, 0) 0 0px 30px;
//     transform: perspective(243px) rotateY(-5deg) rotateZ(1deg);
// }

.contact li {
	margin-top: 1rem;
}

.contact .map {
	border: 1px solid $tld-blue;
}

fieldset {
	padding: 10px;
}

.app .row {
	margin-top: .5rem;
}

.app label {
	text-align: left;
	margin-right: 1rem;
	margin-top: .5rem;
	width: 100%;
}

@include media-breakpoint-up(lg) {
	.app label {
		text-align: right;
		display: inline-block;
		width: 320px;
  }

	fieldset {
		padding: 0;
	}
}

.app label.choice,
.app label.choice_chx {
	width: auto;
}

.app input[type="text"],
.app textarea {
	flex: 1;
	padding: 5px;
}

.app input[type="radio"],
.app input[type="checkbox"] {
	margin-top: .75rem;
	margin-right: 5px;
}
