html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: $gray-200;
}

h1, h2, h3 {
	font-family: 'Delius', cursive;
}

.container > h2,
.container > h3 {
		margin-top: 2rem;
}

hr {
	margin: 2.5rem 0;
}

table {
	border: 2px solid $gray-500;
}

th, td {
	border: 1px solid $gray-400;
	text-align: center;
	vertical-align: top;
	background-color: $white;
}

.fa-li {
	color: $tld-blue;
	margin-top: 4px;
}

.tld-blue {
	color: $tld-blue;
}

.navbar {
	background-color: $nav-background !important;
}

.navbar-brand {
	color: white !important;
	font-weight: bolder;
}

.navbar-expand-lg .nav-link {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	font-family: 'Delius', cursive;
	font-size: 1.1rem;
}

.jumbotron {
	color: $gray-300;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	display: flex;
}

.jumbotron .text-container {
	background-color: rgba(90, 90, 90, .5);
	border-radius: 5px;
}

.jumbotron h1 {
	text-shadow: 2px 2px 4px $dark;
}

.jumbotron .lead {
	text-shadow: 1px 1px 2px $dark;
}

footer {
	color: $gray-300;
	background-color: $dark;
	width: 100%;
	padding: 2rem 0;
}

footer .contact {
	color: $gray-300;
}

// -------
// home
// --------
#home-showcase {
	height: 200px;
	// max-height: 500px;
	overflow: hidden;
}

.headline {
	position: absolute;
	text-align: center;
	top: 80px;
}

.headline h1 {
	color: $gray-300;
	background-color: rgba(90, 90, 90, .6);
	text-shadow: 2px 2px 4px $dark;
	border-radius: 10px;
	font-size: 1.5rem;
}

@include media-breakpoint-up(sm) {
	#home-showcase {
		height: 400px;
	}

  .headline {
		top: 150px;
  }

	.headline h1 {
		font-size: 2rem;
	}
}

@include media-breakpoint-up(md) {
	#home-showcase {
		height: 500px;
	}

  .headline {
		top: 150px;
		padding: 0 5rem;
  }

	.headline h1 {
		font-size: 2rem;
	}
}

@include media-breakpoint-up(lg) {
	#home-showcase {
		height: 500px;
		margin-bottom: 2rem;
	}

  .headline {
		top: 200px;
		padding: 0 10rem;
  }

	.headline h1 {
		font-size: 2.5rem;
	}
}

// ------
// Training
// ------
.jumbotron-training {
	background-image: url("../images/tld/header-training.jpg");
	background-position: top center;
}

// ------
// Daycare
// ------
.jumbotron-daycare {
	background-image: url("../images/tld/header-daycare-boarding.jpg");
}

// ------
// About
// ------
.jumbotron-about {
	background-image: url("../images/tld/header-about.jpg");
	background-position: top center;
}

.card {
	margin-bottom: 1rem;
}

.card-header {
	font-size: 1.1rem;
	font-weight: bold;
	color: $white;
	background-color: $tld-blue;
}

.card-body p:last-child {
	margin-bottom: 0;
}

.img-bio {
	float: left;
	margin-right: 1rem;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

// -------
// Contact
// -------
.jumbotron-contact {
	background-image: url("../images/tld/header-contact.jpg");
	background-position: top center;
	height: 250px;
}

@include media-breakpoint-up(md) {
	.jumbotron-contact {
		height: 440px;
  }
}

.contact li {
	margin-top: 1rem;
}

fieldset {
	padding: 10px;
}

.app .row {
	margin-top: .5rem;
}

.app label {
	text-align: left;
	margin-right: 1rem;
	margin-top: .5rem;
	width: 100%;
}

@include media-breakpoint-up(lg) {
	.app label {
		text-align: right;
		display: inline-block;
		width: 320px;
  }

	fieldset {
		padding: 0;
	}
}

.app label.choice,
.app label.choice_chx {
	width: auto;
}

.app input[type="text"],
.app textarea {
	flex: 1;
	padding: 5px;
}

.app input[type="radio"],
.app input[type="checkbox"] {
	margin-top: .75rem;
	margin-right: 5px;
}
