html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: $gray-200;
}

.navbar {
	opacity: 0.8;
}

.navbar-brand {
	color: white !important;
	font-weight: bolder;
}

.tld-blue {
	color: $tld-blue;
}

.jumbotron {
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	display: flex;
}

.jumbotron-training {
	background-image: url("../images/tld/header-training.jpg");
}

.jumbotron-daycare {
	background-image: url("../images/tld/header-daycare-boarding.jpg");
}

hr {
	margin: 3.5rem 0;
}

table {
	border: 2px solid $gray-500;
}

th, td {
	border: 1px solid $gray-400;
	text-align: center;
	vertical-align: top;
	background-color: $white;
}
